Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace
*.DS_Store
FileOpenOrder/
*.log
Content/Developers/
Content/Collections/
Saved/Cooked/
Saved/StagedBuilds/
*.tmp
*~
